<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="#EB99A1" name="theme-color" />
    <meta content="#EB99A1" name="msapplication-navbutton-color" />
    <meta content="#EB99A1" name="apple-mobile-web-app-status-bar-style" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- Resources -->
    <link rel="stylesheet" type="text/css" href="{{
      "css/index.css" | url
    }}" />

    <!-- SEO -->
    {% seo %}
    <title>{{ title }}</title>
  </head>

  <body>
    {{ content }}
  </body>
</html>
