<footer>
  <p>
    &copy; 2021 <a title="A URL to espi.me, sysdotini's home" href="https://espi.me/">sysdotini</a>. Site licensed under the
    <a title="A link to the MIT license" href="/redirects/license/">MIT license</a>. All views are my own.
  </p>
</footer>
