<footer>
  <span> &copy; 2022 Espi Marisa ("sysdotini")</span>
  <br />
  <span>
    This site is licensed under the
    <a href="https://opensource.org/licenses/zlib-license.php" title="A link to the zlib [slash] libpng license.">zlib/libpng</a>
    license.</span
  >
</footer>
