{# Resolves the source URL to the repository/branch/blob/filePath directory. #}
{% set source_url = repository ~ "/" ~ page.inputPath %}

<footer>
	<span>&copy; 2025 Espi Marisa.</span>
	<br />
	<a href="{{ source_url }}">This page</a> was built on {{ generated }} by
	{{ eleventy.generator }}.
</footer>
