<meta charset="utf-8">
<meta content="#88ceee" name="theme-color">
<meta content="#88ceee" name="theme-color">
<meta content="#88ceee" name="msapplication-navbutton-color">
<meta content="#88ceee" name="apple-mobile-web-app-status-bar-style">

<meta
	content="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}"
	property="og:image">

<meta
	content="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}"
	name="twitter:image">

<link
	rel="icon"
	type="image/png"
	href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">

{% seo %}
