{# Title #}
{% if title %}
	<title>{{ title }}</title>
{% endif %}

{# Description #}
{% if description %}
	<meta name="description" content="{{ description }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta property="og:description" content="{{ description }}" />
{% endif %}
