# Normalize
* text=auto

# Binaries
*.bin binary
*.bmp binary
*.bpg binary
*.bz2 binary
*.docx binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.json binary
*.mp3 binary
*.mp4 binary
*.ogg binary
*.pdf binary
*.png binary
*.svg binary
*.tar binary
*.tgz binary
*.webp binary
*.zip binary
*.7z binary
*.exe binary
*.dll binary

# Lockfiles
package-lock.json text
yarn.lock text
pnpm-lock.yaml text
poetry.lock text
Pipfile.lock text
Cargo.lock text

# Windows
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
