# Binaries
*.7z
*.a
*.appx*
*.bin
*.cab
*.class
*.db
*.deb
*.dll
*.dSYM/
*.ear
*.elf
*.exe
*.gem
*.gch
*.gz
*.hex
*.img
*.iso
*.jar
*.lib
*.msi
*.msix
*.o
*.obj
*.out
*.pmc
*.rbc
*.rar
*.rpm
*.so
*.sqlite3
*.tar*
*.war
*.zip

# Build
.Python
._build
.bundle
.bun/
.next
.nuxt
.svelte-kit
_site
build
classes/
compiled/
content/pages/generated
dist
eggs/
grunt
kobaltBuild/
node_modules/
obj/
out
output
pkg
target
vendor/

# Cache
.cache
.cache-loader
.coverage
.coverage*
.eslintcache
.fuse_hidden*
.jekyll-cache
.jekyll-metadata
.npm
.parcel-cache
.sass-cache
.stylelintcache
.temp
.turbo
.webpack
__pycache__
*.cachefile
*.cover
*.sdf
*.tsbuildinfo
cache/
cover/
tmp

# Configs
!.env.example
.env*
.venv/
*env.bak/
config.ini
config.json
config.toml
config.yaml
config.yml
deploy-key
local_settings.py

# Editors
.code-workspace
.history/
.idea/
.session
.vscode/
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace
*.sw?
*.swo
*.swn
*.swp
*.un~
.netrwhist

# Logs
*-log.txt
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.log
*.log.*
*.orig
*.pid
*.pid.lock
*.seed
cover
hs_err_pid*
logs
pids
pip-delete-this-directory.txt
replay_pid*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
*.bak
*.bkp
*.diff
*.gz~
*.old
*.patch
*.rej
*.temp
*.tmp
*.zip~
.cache-loader

# Modules
__pypackages__
jspm_packages/
node_modules/
vendor/bundle/
web_modules/

# Monorepo
.cache/
dist/
out/
turbo/
turbo.json
turbo.log

# Node
!bun.lockb
.bun/
.pnp.*
.yarn/
*.d.ts
*.tsbuildinfo
lerna-debug.log
lib/
npm-debug.log*
package-lock.json
pnpm-debug.log*
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*
yarn.lock

# OS
$RECYCLE.BIN
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.Temporary Items
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
.AppleDouble
.apdisk
.com.apple.timemachine.donotpresent
.desktop.ini
.directory
.ehthumbs.db
.ehthumbs_vista.db
.history
.Icon
.localhistory
.msm
.msp
.Network Trash Folder
.nfs*
.stackdump
.Thumbs.db
.Thumbs.db:encryptable
.vshistory
~*
*.icloud
*.lnk
