# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts require LF.
*.sh text eol=lf

# Batchfiles require CRLF.
*.bat text eol=crlf
*.cmd text eol=crlf

# Hide lockfiles and source mappings in diffs.
*.lock* text -diff
*.lockb binary -diff
*.map text -diff
