_site/
._*
.astro/
.bundle/
.cache/
.directory
.DocumentRevisions-V100
.DS_Store
.env*
.fseventsd
.fuse_hidden*
.idea/
.jekyll-cache/
.jekyll-metadata/
.next/
.sass-cache/
.snapshots/
.Spotlight-V100
.svelte-kit/
.Trashes
.venv/
.vite/
[Dd]esktop.ini
*.db*
*.key
*.log*
*.p12
*.pem
*.pid*
*.rsa
*.seed
*.sqlite*
*.stackdump
*.swo
*.swp
*.tsbuildinfo
*~
*core
$RECYCLE.BIN/
backups/
buffers/
build/
coverage/
dist/
ehthumbs*.db
env/
node_modules/
Thumbs.db*
vendor/bundle/
venv/
