---
layout: default
title: Espi (Mari)sa
description: silly enby doing silly things

pronouns: they/them
location: Huntsville, Alabama

bluesky: espi.me
github: espimarisa
telegram: espimarisa
discordInvite: v5WUBgCpJ6
steam: espimarisa

email: contact@espi.me
---

<title>{{ page.title }}</title>

<header>
  <div class="row">
    <img class="avatar" type="image/png" src="{{ " /assets/images/favicon.png" | prepend: site.baseurl }}">
    <div>
      <h1 class="header-title" id="name">{{ page.title }}</h1>
      <p class="header-description">{{ page.description }}</p>
    </div>
    <ul class="social-icons">
      <li>
        <a href="https://bsky.app/profile/{{ page.bluesky }}" target="_blank" rel="noreferrer" title="A link to my Bluesky profile.">
          <em class="icon icon-bluesky"></em>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ page.github }}" target="_blank" rel="noreferrer" title="A link to my GitHub profile.">
          <em class="icon icon-github"></em>
        </a>
      </li>
      <li>
        <a href="https://t.me/{{ page.telegram }}" target="_blank" rel="noreferrer" title="A link to contact me on Telegram.">
          <em class="icon icon-telegram"></em>
        </a>
      </li>
      <li>
        <a href="https://discord.gg/{{ page.discordInvite }}" target="_blank" rel="noreferrer" title="A link to my Discord server.">
          <em class="icon icon-discord"></em>
        </a>
      </li>
      <li>
        <a href="mailto:{{ page.email }}" target="_blank" rel="noreferrer" title="A mailto link to my email.">
          <em class="icon icon-email"></em>
        </a>
      </li>
    </ul>
  </div>
</header>

<main>
  <!-- About -->
  <div id="about">
    <h2 class="title inline">Hi, I'm Espi!</h2>
    <span id="pronouns">({{ page.pronouns }})</span>
    <p>I'm a visually impaired nonbinary gal from East Tennessee that now calls {{ page.location }} home.</p>

    <p>I'm also a hobbyist developer that occasionally <a href="https://github.com/{{ page.github}}" target="_blank" rel="noreferrer">makes things</a>, but I
      tend to prefer homelabbing and
      personal projects.
      <br />
      I like to get my hands dirty with hardware and tend to ressurect things that most people would consider e-waste.

    <p>
      I volunteer with <a href=" https://altrac.works/" target="_blank" rel="noreferrer">ALTRAC</a>
      (The Alabama Transgender Rights Action Coalition), fighting to stop discriminatory legislature introduced by the
      Alabama state government and to help spread awareness of <a href="https://altgo.us" target="_blank" rel="noreferrer">our local LGBTQ+ resources</a>.
    </p>

    <p>
      Outside of school and activism, I enjoy thrifting, watching anime, reading, and
      <a href="https://steamcommunity.com/id/{{ page.steam }}" target="_blank" rel="noreferrer">playing video games</a>.
      <br />
      Feel free to reach out, I don't tend to bite! &#x2665
    </p>
  </div>

  <!-- latest 3 posts -->
  <h3 id="post-list" class="subtitle inline">Latest Posts</h3>
  <span>|</span>
  <a class="inline" href="/blog/">all posts</a>
  <div id="post-list">
    <br />
    {% for post in site.posts limit:3 %}
    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
    <p class="post-description">{{ post.description }}</p>
    <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    <hr />
    {% endfor %}
    <br />
  </div>

  <!-- Webring -->
  <div id="webring-list">
    {% for ring in site.webring %}
    {% if ring.link %}
    <a href="{{ ring.link }}" title="{{ ring.name }}" class="webring-image" target="_blank" rel="noreferrer">
      <img src="{{ site.baseurl }}/assets/images/webring/{{ ring.file }}" alt="{{ ring.name }}" title="{{ ring.name }}" width="88px" height="31px" />
    </a>
    {% else %}
    <img src="{{ site.baseurl }}/assets/images/webring/{{ ring.file }}" alt="{{ ring.name }}" title="{{ ring.name }}" width="88px" height="31px" />
    {% endif %}
    {% endfor %}
  </div>
</main>
