<footer>
  <p>&copy; 2024 Espi Marisa. You are loved!</p>
  <p>Site licensed under the
    <a
      href="https://github.com/espimarisa/espi.me/blob/main/LICENSE.md"
      target="_blank"
      rel="noreferrer">zlib/libpng</a>
    license.
  </p>
  <p>Not all graphics, images, or vectors fall under this license.</p>
</footer>
