<!-- Compatibility -->
<meta charset="utf-8" />
<meta content="#EB99A1" name="theme-color" />
<meta content="#EB99A1" name="msapplication-navbutton-color" />
<meta content="#EB99A1" name="apple-mobile-web-app-status-bar-style" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<!-- Metadata -->
<meta content="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}" property="og:image" />
<meta content="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}" name="twitter:image" />
{% seo %}
<!-- Resources -->
<link rel="preconnect" href="https://cdn.jsdelivr.net" />
<link rel="stylesheet" type="text/css" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/normalize-css/normalize.css" />
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/icons.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}" />
