<!DOCTYPE html>
<html lang="{{ lang or "en" }}">
	<head>
		{# Metadata #}
		{% include "metadata.njk" %}

		{# Global styles #}
		<link rel="stylesheet" href="/styles/global.css" />

		{# Syntax highlighting #}
		{% if syntax_highlighting %}
			<link rel="stylesheet" href="/styles/syntax.css" />
		{% endif %}

		{# Children head #}
		{% block head %}
		{% endblock %}
	</head>

	<body>
		{# Content #}
		{% block content %}
			{{ content | safe }}
		{% endblock %}

		{# Children scripts #}
		{% block scripts %}
		{% endblock %}
	</body>
</html>
