<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head & SEO -->
    {% seo %} {% include "head" %}
  </head>

  <body>
    <!-- Main content -->
    {{ content }}

    <!-- Footer -->
    {% include "footer" %}
  </body>
</html>
