{# Extend from the base layout. #}
{% extends "./base.njk" %}

{# Content #}
{% block content %}
	{# Navbar #}
	{% include "navbar.njk" %}

	{# Children contents #}
	<main id="main-content" aria-label="Jump to main content">
		{{ content | safe }}
	</main>

	{# Footer #}
	{% include "footer.njk" %}
{% endblock %}
