{# Layout #}
{% extends "./base.njk" %}

{# Content #}
{% block content %}
	<main id="main-content" aria-label="Jump to main content">
		{{ content | safe }}
	</main>

	{# Footer #}
	{% include "footer.njk" %}
{% endblock %}
