{# Extend from the base layout. #}
{% extends "./base.njk" %}

{# Additional metadata #}
{% block head %}
	<link rel="stylesheet" href="/styles/post.css" />
{% endblock %}

{# Content #}
{% block content %}
	<main id="main-content" aria-label="Jump to main content">
		{{ content | safe }}
	</main>

	{# Footer #}
	{% include "footer.njk" %}
{% endblock %}
