{# Extend from the base layout. #}
{% extends "./base.njk" %}

{# Additional metadata #}
{% block head %}
	<link rel="stylesheet" href="/styles/post.css" />
{% endblock %}

{# Content #}
{% block content %}
	<article>{{ content | safe }}</article>
{% endblock %}
