$site-max-width: 70rem;
$site-padding: 2rem;

$cat-mocha-rosewater: #f5e0dc;
$cat-mocha-flamingo: #f2cdcd;
$cat-mocha-pink: #f5c2e7;
$cat-mocha-mauve: #cba6f7;
$cat-mocha-red: #f38ba8;
$cat-mocha-maroon: #eba0ac;
$cat-mocha-peach: #fab387;
$cat-mocha-yellow: #f9e2af;
$cat-mocha-green: #a6e3a1;
$cat-mocha-teal: #94e2d5;
$cat-mocha-sky: #89dceb;
$cat-mocha-sapphire: #74c7ec;
$cat-mocha-blue: #89b4fa;
$cat-mocha-lavender: #b4befe;
$cat-mocha-text: #cdd6f4;
$cat-mocha-subtext1: #bac2de;
$cat-mocha-subtext0: #a6adc8;
$cat-mocha-overlay2: #9399b2;
$cat-mocha-overlay1: #7f849c;
$cat-mocha-overlay0: #6c7086;
$cat-mocha-surface2: #585b70;
$cat-mocha-surface1: #45475a;
$cat-mocha-surface0: #313244;
$cat-mocha-base: #1e1e2e;
$cat-mocha-mantle: #181825;
$cat-mocha-crust: #11111b;

$cat-latte-rosewater: #dc8a78;
$cat-latte-flamingo: #dd7878;
$cat-latte-pink: #ea76cb;
$cat-latte-mauve: #8839ef;
$cat-latte-red: #d20f39;
$cat-latte-maroon: #e64553;
$cat-latte-peach: #fe640b;
$cat-latte-yellow: #df8e1d;
$cat-latte-green: #40a02b;
$cat-latte-teal: #179299;
$cat-latte-sky: #04a5e5;
$cat-latte-sapphire: #209fb5;
$cat-latte-blue: #1e66f5;
$cat-latte-lavender: #7287fd;
$cat-latte-text: #4c4f69;
$cat-latte-subtext1: #5c5f77;
$cat-latte-subtext0: #6c6f85;
$cat-latte-overlay2: #7c7f93;
$cat-latte-overlay1: #8c8fa1;
$cat-latte-overlay0: #9ca0b0;
$cat-latte-surface2: #acb0be;
$cat-latte-surface1: #bcc0cc;
$cat-latte-surface0: #ccd0da;
$cat-latte-base: #eff1f5;
$cat-latte-mantle: #e6e9ef;
$cat-latte-crust: #dce0e8;
