//
// Colors
//

$color-purple-dark-contrast: #1d171f;
$color-purple-dark: #151116;
$color-black: #000000;
$color-purple: #421970;
$color-pink: #ffd7f3;
$color-white-contrast: #ecebeb;
$color-white-contrast-2: #f3f3f3;
$color-white: #ffffff;

//
// Layout
//

$site-max-width: 70rem;
$site-padding: 2rem;
