$color-black: rgb(0, 0, 0);
$color-blue: rgb(0, 0, 255);
$color-white: rgb(255, 255, 255);

$font-monospace:
	"Atkinson Hyperlegible Mono", SFMono-Regular, Menlo, Monaco, Consolas,
	"Liberation Mono", "Courier New", monospace;

$font-sans-serif:
	"Atkinson Hyperlegible Next",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen-Sans,
	Ubuntu,
	Cantarell,
	"Helvetica Neue",
	sans-serif;
