/*------------------------------------------------------------------//
// global stylesheet :: espi.me :: github.com/espimarisa/espi.me    //
//------------------------------------------------------------------//
// this stylesheet performs normalization, browser resets, and      //
// configures all globally used element styles used on every page.  //
//------------------------------------------------------------------*/

@import url("./variables.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--font-stack);
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	background-color: var(--color-white);
	color: var(--color-black);
	font-size: 1rem;
	line-height: 1.5;
	text-size-adjust: none;

	@media (prefers-color-scheme: dark) {
		background-color: var(--color-black);
		color: var(--color-white);
	}
}

body {
	display: flex;
	flex-direction: column;
	font-size: 1.125rem;
	height: 100vh;
	margin: 0 auto;
	max-width: 70rem;
	min-height: 100vh;
	padding: 3rem;
	width: 100%;
}

main,
section {
	padding: 2rem 0;
}

footer {
	display: flex;
	margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

img,
picture {
	display: block;
	max-width: 100%;
}
