/*------------------------------------------------------------------//
// global stylesheet :: espi.me :: github.com/espimarisa/espi.me    //
//------------------------------------------------------------------//
// this stylesheet performs normalization, browser resets, and      //
// configures all globally used element styles used on every page.  //
//------------------------------------------------------------------*/

:root {
	/* Colors */
	--color-black: #000000;
	--color-blue: #0000ff;
	--color-white: #ffffff;

	/* Default font stack */
	--font-stack: sans-serif;
}

*,
*::before,
*::after {
	/* Use a better box-sizing method. */
	box-sizing: border-box;
}

* {
	/* Remove the default margin and padding from elements. */
	margin: 0;
	padding: 0;
}

body {
	/* Configures the body colors. */
	background-color: var(--color-white);
	color: var(--color-black);

	/* Configures the body layout. */
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	max-width: 70rem;
	min-height: 100vh;
	padding: 3rem;

	/* Use a more accessible line-height and font-size. */
	line-height: 1.5;
	font-family: var(--font-stack);
	font-size: 1.125rem;

	/* Prevents text from inflating. */
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

section {
	padding: 2rem 0;
}

footer {
	display: flex;
	margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.25;
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

a,
a:hover,
a:visited {
	color: var(--color-blue);
}

a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline;
}
