/*------------------------------------------------------------------//
// global stylesheet :: espi.me :: github.com/espimarisa/espi.me    //
//------------------------------------------------------------------//
// this stylesheet performs normalization, browser resets, and      //
// configures all globally used element styles used on every page.  //
//------------------------------------------------------------------*/

:root {
	/* Colors */
	--color-black: #000000;
	--color-blue: #0000ff;
	--color-white: #ffffff;

	/* Font configurations. */
	--font-default: system-ui;
	--font-monospace: monospace;
	--font-sans-serif: sans-serif;
	--font-serif: serif;

	/* Layout configuration. */
	--max-width-content: 60rem;
	--max-width-site: 70rem;
	--padding-content: 2rem 0;
	--padding-site: 3rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 1rem;
	line-height: 1.5;
	font-family: var(--font-sans-serif);
	height: 100%;
	width: 100%;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	display: flex;
	flex-direction: column;
	max-width: var(--max-width-site);
	height: 100vh;
	min-height: 100vh;
	padding: var(--padding-site);
	margin: 0 auto;
	font-size: 1.125rem;
	color: var(--color-black);
	background-color: var(--color-white);
}

section {
	padding: 2rem 0;
}

footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

a,
a:hover,
a:visited {
	color: var(--color-blue);
}

a:hover {
	text-decoration: none;
}

img,
picture,
video {
	display: block;
	max-width: 100%;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}
