@import "../../../node_modules/modern-normalize/modern-normalize.css";
@import "../../../node_modules/sakura.css/css/sakura.css";

.subtitle {
  font-size: 1.25em;
  line-height: 0.5em;
}

.has-padding {
  padding-bottom: 0.1em;
}

.has-spacing {
  color: red;
  padding-top: 2em;
}

#header-links {
  line-height: 0.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header-links > li:after {
  content: "\2022 ";
}

#header-links > li#last-item:after {
  content: "";
}

#header-links > li {
  display: inline;
}
