---
import { Icon } from "astro-icon/components";
import Page from "@/layouts/Page.astro";
---

<Page
  title="404 :: Espi Marisa"
  description="If you are reading this, you need to get a life.">
  <main>
    <Icon name="mdi:alert" size="8rem" />
    <h1>Not Found</h1>
    <a href="/">Take me home, country roads~</a>
  </main>
</Page>

<style lang="scss">
  main {
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  h1 {
    margin: 0 auto;
    line-height: 1;
  }
</style>
