---
import Page from "@/layouts/Page.astro";

const title = "Espi Marisa";
const description = "Blind developer and tinkerer from Cincinnati, Ohio.";
---

<Page title={title} description={description}>
	<header>
		<h1 class="title">Hi, I'm Espi!</h1>
		<p class="subtitle">
			I'm a blind developer and tinkerer from Cincinnati, Ohio.
		</p>
	</header>

	<main></main>
</Page>
