---
layout: default
title: Espi's Notebook
description: Posts about programming, technology, politics, and more.
---

<header>
  <h1 class="header-title">{{ page.title }}</h1>
  <p class="header-description">{{ page.description }}</p>
  <ul class="header-links">
    <li>
      <a href="#" onclick="window.history.back()" title="Back">Back</a>
    </li>
    <li>
      <a href="/feed.xml" title="RSS">RSS</a>
    </li>
    <li id="last-item">
      <a href="/" title="Go home">Home</a>
    </li>
  </ul>
</header>

<main>
  <!-- List of posts -->
  <h2 class="title">Pages</h2>
  <div id="post-list">
    {% for post in paginator.posts %}
    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
    <p class="post-description">{{ post.description }}</p>
    <p class="post-date">{{ post.date | date: "%B %d, %Y" }} by {{ post.author }}</p>
    <hr />
    {% endfor %}
  </div>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="post-page-link" href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %} {% endif %}
    <span class="post-page">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a class="post-page-link" href="{{ paginator.next_page_path }}">Next</a>
    {% else %} {% endif %}
  </div>
</main>
