<div>
  <h2>Hi, I'm Espi!</h2>
  <span>
    <small>(he/him)</small>
  </span>
  <p>I'm a blind developer, tinkerer, and activist from Huntsville, Alabama.</p>

  <br />

  <p>
    I volunteer for the
    <a
      href="https://altrac.works"
      title="ALTRAC"
      target="_blank"
      rel="noreferrer noopener">Alabama Transgender Rights Action Coalition</a
    > to defeat discriminatory legislation and to fight for LGBTQ+ rights for all
    Alabamians.
  </p>

  <br />

  <p>
    In my spare time, I enjoy watching anime, hobbyist severe weather research,
    nerding out about all things Pokémon, and exploring my home of Appalachia.
  </p>
</div>

<style lang="scss">
  div {
    max-width: 70%;
  }

  span {
    margin-left: 0.25rem;
  }

  h2 {
    display: inline-block;
    margin: auto;
  }

  p {
    margin: auto;
  }
</style>
