---
import Link from "./Link.astro";
const date = new Date().getFullYear();
---

<footer>
  <span>&copy; {date} Espi Marisa.</span>
  <br />

  <span>
    Site licensed under the
    <Link href="https://github.com/espimarisa/espi.me/blob/main/LICENSE.md" content="zlib/libpng" title="zlib/libpng" /> license.
  </span>

  <br />
  <span>Images, graphics, and vectors belong to their respective owners.</span>
</footer>
