body {
  color: black;
  font-family: "Jetbrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 55rem;
  min-height: 100vh;
  height: 100vh;
  width: 100;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.35rem;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: blueviolet;
}

li {
  padding-bottom: 0.5rem;
}

header {
  padding-bottom: 1rem;
}

footer {
  margin-top: auto;
}

section,
details {
  padding-bottom: 2rem;
}

summary {
  font-weight: bold;
  font-size: 2.15rem;
}

pre code {
  display: inline-block;
  overflow-x: auto;
}

.is-inline {
  display: inline-flex;
}

.is-centered {
  text-align: center;
}

.has-no-margin {
  margin: auto;
}

.journal-caption {
  display: block;
}

.webring-image {
  padding: 0 auto;
  margin: 0 auto;
  text-decoration: none;
  image-rendering: pixelated;
}

.webring-image:hover {
  opacity: 90%;
}

.journal-title {
  font-size: 2.5rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  a {
    color: orange;
  }

  a:visited {
    color: orange;
  }

  a:hover {
    color: orangered;
  }
}
