@import "@fontsource/atkinson-hyperlegible-next";
:root {
  --black: #000000;
  --black-contrast: #101010;
  --orange: #ffa500;
  --pink: #ff0070;
  --white: #ffffff;
  --white-contrast: #efefef;
}

body {
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-style: normal;
  height: 100vh;
  margin: 0 auto;
  max-width: 70rem;
  min-height: 100vh;
  padding: 2rem;
  width: 100;
}

box {
  border: 1px solid var(--black);

  &:hover {
    border: 1px solid var(--pink);
  }
}

li {
  padding-bottom: 0.5rem;

  &:last-child {
    padding-bottom: 0rem;
  }
}

section {
  padding: 1.5rem 0rem 1.5rem 0rem;
}

#about {
  max-width: 80%;
}

#projects {
  a {
    color: inherit;
    display: block;
    padding: 0.5rem;
    text-decoration: none;

    &:hover {
      opacity: 90%;
    }
  }
}

#webring {
  padding-top: 3rem;

  img {
    height: 31px;
    image-rendering: pixelated;
    padding: 0.25rem 0rem 0.25rem 0rem;
    text-decoration: none;
    width: 88px;
  }

  a {
    text-decoration: none;
  }
}

a {
  color: var(--pink);

  &:visited {
    color: var(--pink);
  }

  &:hover {
    opacity: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: auto;
}

.column {
  background-color: var(--white-contrast);
  box-sizing: border-box;
  flex: 0 1 calc(50% - 1rem);
}

.inline {
  display: inline;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 2rem;
  padding: 1rem 0rem 0rem 0rem;
}

.title {
  color: var(--pink);
  text-decoration: underline;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--black);
    color: var(--white);
  }

  a,
  a:visited,
  .title {
    color: var(--orange);
  }

  .column {
    background-color: var(--black-contrast);
  }

  box {
    border: 1px solid var(--white);

    &:hover {
      border: 1px solid var(--orange);
    }
  }
}

/* Responsiveness */
@media screen and (max-width: 1000px) {
  .row {
    flex-flow: column wrap;
  }
}
