---
title: sysdotini
layout: default
---

<header id="main">
  <h1>sysdotini</h1>
  <p class="subtitle">Hobbyist full-stack developer. <small>she/her</small></p>
  <ul id="header-links">
    <li>
      <a title="GitHub: @sysdotini" href="/redirects/github/">GitHub</a>
    </li>

    <li>
      <a title="GitLab: @sysdotini" href="/redirects/gitlab/">GitLab</a>
    </li>

    <li>
      <a title="Twitter: @sysdotini" href="/redirects/twitter/">Twitter</a>
    </li>

    <li>
      <a title="Telegram: @sysdotini" href="/redirects/telegram/">Telegram</a>
    </li>

    <li id="last-item">
      <a title="Discord Server: discord.io/Netsky" href="/redirects/discord/">Discord</a>
    </li>
  </ul>
</header>

<div id="about">
  <h2>About</h2>
  <hr />
  <p>
    My name is Espi and I'm a 19-year-old full-stack developer and tech enthusiast. I like to make useful things with
    <a title="TypeScript's official website" href="/redirects/typescript/">TypeScript</a> +
    <a title="Node.js's official website" href="/redirects/nodejs/">Node.js</a>,
    <a title="PostCSS's official website" href="/redirects/postcss/">PostCSS</a>,
    <a title="Fastify's official website" href="/redirects/fastify/">Fastify</a>,
    <a title="Eleventy's official website" href="/redirects/eleventy/">Eleventy</a>, and
    <a title="Liquid syntax's website" href="/redirects/liquid/">Liquid</a>, but I'm also great with
    <a title="JavaScript MDN documentation" href="/redirects/javascript/">JavaScript</a>,
    <a title="HTML's W3C website and documentation" href="/redirects/html/">HTML</a>,
    <a title="CSS's W3C website and documentation" href="/redirects/css/">CSS</a>,
    <a title="SASS's official website" href="/redirects/sass/">SASS</a>, and
    <a title="PostgreSQL's official website" href="/redirects/postgresql/">PostgreSQL</a>.
  </p>

  <p>
    I build, repair, and maintain personal computers running any type of operating system. In my spare time, I'll occasionally write a
    script or a sharable config for something that I find useful. I'm best at Windows deployment and management.
  </p>

  <p>
    Additionally, I love tinkering and working with all kinds of hardware. I usually focus on repairing, upgrading, and maintaining older
    business laptops and workstations.
  </p>
</div>

<div id="contact">
  <h2>Contact</h2>
  <hr />
  <p>
    Whether you'd like to discuss something important, or just want to send me cat pics, I'm always available. I also love making new
    friends, so feel free to reach out!
  </p>

  <ul>
    <li>
      I respond quickest on <a href="/redirects/discord/">Discord</a> <small>(espi#0001)</small>,
      <a href="/redirects/telegram/" title="Telegram: @sysdotini">Telegram</a>, or
      <a href="/redirects/twitter/" title="Twitter: @sysdotini">Twitter</a>.
    </li>
    <li>
      If you'd like to talk on a more "secure" platform, I have a
      <a href="/redirects/keybase/" title="Keybase: @sysdotini">Keybase</a>.
    </li>
    <li>If you prefer to email me, you can do so thru <a href="mailto:espi@riseup.net">espi(at)riseup(dot)net</a>.</li>
  </ul>
</div>
