---
layout: default
title: Espi Marisa
description: Software engineer and PC hardware enthusiast. Accessibility advocate.
---

<section id="content">
  <span class="title">Espi Marisa</span>
  <span class="tagline">(she/her)</span>
  <br/>
  <span class="subtitle">Full-stack TypeScript developer.</span>

  <div id="header-links">
    <ul>
      <li>
        <a href="https://discord.com/users/647269760782041133" title="A link to my Discord user account.">Discord: <span>@espimarisa</span></a></li>
      </li>
      <li>
        <a href="https://twitter.com/sysdotini" title="A link to my Twitter profile.">Twitter: <span>@sysdotini</span></a></li>
      </li>
      <li>
        <a href="https://github.com/espimarisa" title="A link to my GitHub profile.">GitHub: <span>@espimarisa</span></a></li>
      </li>
      <li>
        <a href="https://t.me/espimarisa" title="A link to message me on Telegram.">Telegram: <span>@espimarisa</span></a></li>
      </li>
      <li>
        <a href="https://keybase.io/sysdotini" title="A link to my Keybase profile.">Keybase: <span>@sysdotini</span></a></li>
      </li>
      <li>
        <a href="mailto:espi&#64;riseup&period;net" title="A link to email me.">Email: <span>espi&#64;riseup&period;net</span></a></li>
      </li>
    </ul>
  </div>

</section>

<br/>
