---
layout: default
title: Espi Marisa
description: Full-stack developer; computer witch.
---

<span class="title">Espi Marisa</span>
<span class="tagline">(she/her)</span>
<br />
<span class="subtitle">Full-stack developer&semi; computer witch.</span>

<div class="header-links">
  <span>
    <a href="https://discord.gg/puSBgjVJ5m" title="A link to join my Discord server, Discord [dot] io [slash] Netsky."
      >Discord <span id="discrim">[espi#0001]</span></a
    >
  </span>

  <span>
    <a href="https://t.me/sysdotini" title="A link to contact me on Telegram, located at t [dot] me [slash] sysdotini.">Telegram</a>
  </span>

  <span>
    <a href="https://github.com/sysdotini" title="A link to my GitHub, located at GitHub [dot] com [slash] sysdotini.">GitHub</a>
  </span>

  <span>
    <a href="https://twitter.com/sysdotini" title="A link to my Twitter, located at Twitter [dot] com [slash] sysdotini.">Twitter</a>
  </span>
  
  <span>
    <a rel="me" href="https://uwu.social/@espi" title="A link to my Mastodon page, espi [at] uwu [dot] social.">Mastodon</a>
  </span>

  <span>
    <a href="https://keybase.io/sysdotini" title="A link to my Keybase, located at keybase [dot] io [slash] sysdotini.">Keybase</a>
  </span>

  <span>
    <a href="mailto:espi@riseup.net" title="A link to my Email me, espi [at] riseup [dot] net.">Email</a>
  </span>
</div>

<br />

<div class="text-content">
  <span class="title">About</span>
  <hr />
  <p>
    I'm a 20-year-old full-stack developer and a "computer witch". I'm a visually impaired trans girl from Tennessee, and I make it my top
    priority to always be there for my friends and loved ones, and fight for what's right in life.
  </p>
  <p>
    I build useful and accessible applications, websites, and utilities using TypeScript, Svelte, SASS, Liquid, Fastify, Eleventy, and more.
    I'm also a hobbyist systems administrator. I maintain and setup servers and Virtual Machines for my applications or other needs when
    they arise, or just to have fun and learn.
  </p>

  <p>
    I like to build, repair, refurbish, and maintain personal computer systems from any era in history, and I take great pride in the work I
    do. I also work on older enterprise and business laptops and bring them back to life.
  </p>

  <p>In my spare time, I love to play games, listen to music, and write about things I enjoy. Feel free to reach out to me!</p>
</div>

<br />

<div class="text-content">
  <span class="title">Projects</span>
  <hr />
  <p>I currently don't have a ton of projects of note to list here, but here's a few I have public:</p>
  <ul>
    <li>
      <a href="https://hibiki.app" title="A link to Hibiki's website: hibiki [dot] app">hibiki</a> - The best Discord bot, providing tons of
      useful utilities and features.
    </li>
    <li>
      <a href="https://espi.me" title="A link to my website: espi [dot] me">espi.me</a> - My personal website and blog, powered by Eleventy.
      (You're here!)
    </li>
    <li>
      <a
        href="https://github.com/sysdotini/session-rethinkdb-ts"
        title="A link to my GitHub repository: sysdotini [slash] session [dash] rethinkdb [dash] ts"
        >session-rethinkdb-ts</a
      >
      - A modern RethinkDB session store for Express.
    </li>
    <li>
      <a href="https://github.com/sysdotini/eslint-config" title="A link to my GitHub repository: sysdotini [slash] eslint [dash] config"
        >eslint-config</a
      >
      - My strict ESLint config with built-in TypeScript and Prettier support.
    </li>
  </ul>
</div>
