@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url("/assets/fonts/AtkinsonHyperlegibleNext-Variable.woff2")
		format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
