---
import { Font } from "astro:assets";
import Head from "@/components/Head.astro";

const { ...props } = Astro.props;
---

<!doctype html>
<html lang="en-US">
  <Head title={props.title} description={props.description}>
    <slot name="Head" />
    <Font cssVariable="--font-atkinson-hyperlegible-next" preload />

    <style lang="scss" is:global>
      @use "@/styles/global.scss";
    </style>
  </Head>

  <body>
    <slot />
  </body>
</html>
