---
import { Font } from "astro:assets";
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";

const { ...props } = Astro.props;
---

<!doctype html>
<html lang="en-US">
	<Head title={props.title} description={props.description}>
		<slot name="Head" />
		<Font cssVariable="--font-atkinson-hyperlegible-next" preload />
	</Head>

	<body>
		<slot />
		<Footer />
	</body>
</html>
