name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    permissions:
      contents: read
      pull-requests: write
      deployments: write
      actions: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Use GitHub Actions' cache to cache dependencies on servers.
      - uses: actions/cache@v4
        with:
          path: |
            .asdf/**
            vendor/bundle
          key: ${{ runner.os }}-cache-${{ hashFiles('**/cache.key') }}
          restore-keys: |
            ${{ runner.os }}-cache-

      # Use GitHub Deploy Action to build and deploy to Github.
      - uses: jeffreytse/jekyll-deploy-action@v0.7.0
        with:
          provider: "github"
          token: ${{ secrets.GITHUB_TOKEN }} # GitHub PAT.
          branch: "gh-pages" # Use the gh-pages branch.
          jekyll_src: "./src" # Use the src directory.
          jekyll_cfg: "../_config.yml" # Use the config file.
          ruby_ver: "4.0.1" # Sets the Ruby version.
          bundler_ver: "4.0.6" # Sets the bundler version.
          cname: "CNAME" # Use the CNAME.
