name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  deployments: write
  actions: write
  pages: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Use GitHub Actions' cache to cache dependencies on servers.
      - uses: actions/cache@v4
        with:
          path: |
            .asdf/**
            vendor/bundle
          key: ${{ runner.os }}-cache-${{ hashFiles('**/cache.key') }}
          restore-keys: |
            ${{ runner.os }}-cache-

      # Use GitHub Deploy Action to build and deploy to Github.
      - uses: jeffreytse/jekyll-deploy-action@v0.7.0
        with:
          bundler_ver: "4.0.6" # Sets the bundler version.
          ruby_ver: "4.0.1" # Sets the Ruby version.
          token: ${{ secrets.GITHUB_TOKEN }}
          jekyll_src: "."
          jekyll_cfg: "_config.yml"
